* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
   
    font-family: Arial, Helvetica, sans-serif;
 background-color: rgb(242, 129, 155);
  }
  
  #moodform{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    color: #500223;
    font-size: large;
 
  }
  #SubmitButton {
    margin: 5px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: rgb(138, 15, 91);
    color: aliceblue;
  }
  #header{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    color: #7e093a;
  }
  #link{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }
  
  #message {
    background-color:#f6bdcc;
    background-image:url(./formbackground.jpg) ;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border-bottom: 2px solid #740b32;
    border-top:2px solid #740b32 ;
    border-left:2px solid #740b32 ;
    border-right: 2px solid #740b32;
    width: 40rem;
    margin: 15px;
    color: #560628;
}
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px; 
  padding: 10px;
  color: #560628;
}
#p1{
  
  border-bottom: 2px solid #740b32;
  
}
#background{
  border-radius: 100px;
  height: 630px;
}
#formlogo{
  border-radius: 10px;
}

#formid{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 5px;
  color: #500223;
  font-size: large;
  background-color: #f6bdcc;

}
.results-container-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #560628;
}


@media screen and (max-width: 600px) {

  #moodform{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    color: #500223;
    font-size:medium;
 
  }
  #header{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    color: #7e093a;
  }
  #link{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }
  
  #message {
    background-color:#f6bdcc;
    background-image:url(./formbackground.jpg) ;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border-bottom: 2px solid #740b32;
    border-top:2px solid #740b32 ;
    border-left:2px solid #740b32 ;
    border-right: 2px solid #740b32;
    width: 30rem;
    margin: 15px;
    color: #560628;
}
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px; 
  padding: 10px;
  color: #560628;
}
.results-container-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #560628;
}
#background{
  border-radius: 100px;
  height: 630px;
  width: 450px;
}
}

@media screen and (max-width: 480px)  {

  #moodform{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    color: #500223;
    font-size:medium;
 
  }
  #header{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    color: #7e093a;
  }
  #link{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }
  
  #message {
    background-color:#f6bdcc;
    background-image:url(./formbackground.jpg) ;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border-bottom: 2px solid #740b32;
    border-top:2px solid #740b32 ;
    border-left:2px solid #740b32 ;
    border-right: 2px solid #740b32;
    width: 20rem;
    margin: 15px;
    color: #560628;
}
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px; 
  padding: 10px;
  color: #560628;
}
.results-container-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #560628;
}
#background{
  border-radius: 100px;
  height: 630px;
  width: 400px;
}
}
